# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php
config/development.config.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/*
data/sessions/
data/tmp/
temp/

!data/cache/.gitkeep
.vagrant/
/phpunit.xml
/vendor/

.phpunit.result.cache
.phpcs-cache
